.services__text-layout .services__headline, .portfolio--layout .portfolio__headline, .team--layout .team__headline, .contacts__headline {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  color: #312f30;
}

.features__button, .services__text-layout .services__button {
  margin-top: 50px;
  padding: 20px 10px;
  max-width: 226px;
  width: 100%;
  background-color: #ff3f40;
  border: 2px solid #ff3f40;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.features__button:hover, .features__button:focus, .services__text-layout .services__button:hover, .services__text-layout .services__button:focus {
  outline: none;
  -webkit-box-shadow: 0 5px 25px rgba(255, 0, 0, 0.603);
          box-shadow: 0 5px 25px rgba(255, 0, 0, 0.603);
}

.portfolio--layout .portfolio__text, .team--layout .team__text, .contacts__text {
  position: relative;
  margin: 30px 0 0;
  padding-bottom: 50px;
  font-size: 16px;
  line-height: 28px;
  color: #737373;
}

.portfolio--layout .portfolio__text::after, .team--layout .team__text::after, .contacts__text::after {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-width: 130px;
  height: 2px;
  background-color: #ff3f40;
}

.header--container,
.footer--container, .features--layout, .services--layout, .portfolio--layout, .team--layout, .contacts {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.subscribe--layout .subscribe-form__button, .contacts-form__button {
  padding: 21px 62px;
  background-color: #ff3f40;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.subscribe--layout .subscribe-form__button:focus, .subscribe--layout .subscribe-form__button:hover, .contacts-form__button:focus, .contacts-form__button:hover {
  -webkit-box-shadow: 0 0px 25px rgba(255, 0, 0, 0.767);
          box-shadow: 0 0px 25px rgba(255, 0, 0, 0.767);
}

.contacts-form__input, .contacts-form__user-message {
  background-color: #e5e5e5;
  border: none;
  border-radius: 15px;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}

body,
.bg--light {
  background-color: #f6f2ef;
}

main {
  background: #fff;
}

.header--static,
.footer--background-dark {
  background-color: #312f30;
  color: #e0e0e0;
}

a {
  color: inherit;
  cursor: pointer;
}

.features__video[poster] {
  width: 100%;
}

main {
  overflow: hidden;
}

.visually-hidden {
  visually: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect 0 0 0 0;
  overflow: hidden;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  max-width: 1280px;
  margin: 30px auto 0;
  padding: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header--scroll {
  max-width: 100%;
  border-radius: 5px;
  background-color: #fff;
  color: #737373;
  -webkit-box-shadow: 0 4px 12px 0 #0000001c;
          box-shadow: 0 4px 12px 0 #0000001c;
}

.header--scroll .menu-list__link:hover,
.header--scroll .menu-list__link:focus {
  background-color: #ff3f40;
  color: #fcf9f9;
}

.header .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.header .menu-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .menu-list__link {
  padding: 40px 24px 34px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.header .menu-list__link--active {
  background-color: #ff3f40;
}

.header .menu-list__link:hover, .header .menu-list__link:focus {
  background-color: #ff3f40;
}

.header .mobile-menu-button {
  position: relative;
  display: none;
  width: 25px;
  height: 3px;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header .mobile-menu-button::after, .header .mobile-menu-button::before {
  content: '';
  position: absolute;
  display: block;
  height: 3px;
  width: 50%;
  background-color: #fff;
  border-radius: 15px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header .mobile-menu-button::before {
  top: -8px;
  right: 50%;
}

.header .mobile-menu-button::after {
  bottom: -8px;
  left: 50%;
}

.features--layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 110px 15px 110px;
}

.features__title {
  margin: 0;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.features__text-layout {
  max-width: 615px;
}

.features__video {
  max-width: 540px;
  width: 100%;
  height: 360px;
  border-radius: .2%;
  -webkit-box-shadow: 0px 14px 73px 0px rgba(0, 0, 0, 0.295);
          box-shadow: 0px 14px 73px 0px rgba(0, 0, 0, 0.295);
}

.features__description {
  max-width: 505px;
  font-size: 16px;
  line-height: 28px;
  color: #6f6d6d;
  word-wrap: break-word;
}

.features__button {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.features__video[poster] {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features__text-layout {
    max-width: 550px;
    text-align: center;
  }
  .features__description {
    margin: 24px 0 0;
    max-width: 100%;
  }
  .features__video {
    margin-top: 68px;
  }
}

@media screen and (max-width: 540px) {
  .header .navigation--dark {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #ff3f40;
    -webkit-box-shadow: 0 0px 7px 1px rgba(0, 0, 0, 0.39);
            box-shadow: 0 0px 7px 1px rgba(0, 0, 0, 0.39);
    color: #fff;
  }
  .header .navigation--dark .menu-list__link {
    padding: 40px 24px 34px;
  }
  .header .navigation--dark .menu-list__link:hover, .header .navigation--dark .menu-list__link:focus {
    background-color: #312f30;
  }
  .header .menu-list {
    display: none;
  }
  .header .menu-list.menu-list--show {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #ff3f40;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .header .menu-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .mobile-menu-button {
    z-index: 15;
    display: block;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    outline: none;
  }
  .header .mobile-menu-button--close {
    background: transparent;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  .header .mobile-menu-button--close::before {
    right: 0;
    width: 100%;
    -webkit-transform: rotate(-405deg) translate(-5px, 4px);
            transform: rotate(-405deg) translate(-5px, 4px);
  }
  .header .mobile-menu-button--close::after {
    width: 100%;
    -webkit-transform: rotate(405deg) translate(-10px);
            transform: rotate(405deg) translate(-10px);
    left: 7px;
    top: 6px;
  }
  .features__title {
    font-size: 11vmin;
    letter-spacing: 0px;
  }
  .features__video {
    width: 100%;
    height: 100%;
  }
}

.services--layout {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 110px;
  padding-bottom: 110px;
  color: #737373;
}

.services--layout::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ececec;
}

.services__text-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 550px;
  width: 100%;
}

.services__text-layout .services__description {
  margin: 40px 0 0;
  font-size: 16px;
  line-height: 28px;
}

.services__text-layout .services__button {
  margin: 50px 0 0 0;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: calc( 100% - 550px);
      flex-basis: calc( 100% - 550px);
  margin: 0 0 0 100px;
  padding: 0;
  list-style-type: none;
}

.services-list__item {
  width: calc( 50% - 20px);
  margin-bottom: 50px;
}

.services-list__item:not(:nth-child(1)):not(:nth-child(2)) {
  margin-bottom: 0;
}

.services-list__item:nth-child(2n+1) {
  margin-right: 40px;
}

.services-list .fas,
.services-list .far {
  font-size: 40px;
  color: #ff3f40;
}

.services-list__headline {
  font-size: 24px;
  font-weight: 600;
}

.services-list__text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .services--layout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services--layout .services__headline {
    max-width: 570px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .services--layout .services__description {
    max-width: 540px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .services__text-layout {
    margin-bottom: 100px;
    max-width: 900px;
    text-align: center;
  }
  .services__text-layout .services__button {
    margin: 55px auto 0;
  }
  .services-list {
    margin-left: 0;
    max-width: 900px;
  }
}

@media screen and (max-width: 570px) {
  .services__text-layout {
    text-align: center;
  }
  .services__text-layout .services__headline {
    font-size: 10vmin;
  }
  .services-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services-list__item {
    width: 100%;
    text-align: center;
  }
  .services-list__item:nth-child(2n+1) {
    margin-right: 0px;
  }
}

.portfolio--layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 110px;
}

.portfolio--layout .portfolio__headline {
  text-align: center;
}

.portfolio--layout .portfolio__text {
  max-width: 520px;
  width: 100%;
  text-align: center;
}

.portfolio--layout .portfolio__text::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.portfolio--layout .toggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px 0 50px;
  padding: 0;
  list-style-type: none;
}

.portfolio--layout .toggles__button {
  padding: 5px 10px;
  margin: 5px;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  color: #737373;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.portfolio--layout .toggles__button:hover {
  color: #fa6669;
}

.portfolio--layout .toggles__button:focus {
  color: #fa6669;
  -webkit-box-shadow: 0px 0px 5px 1px #e02d2d;
          box-shadow: 0px 0px 5px 1px #e02d2d;
}

.portfolio--layout .toggles__button--active {
  color: #ff3f40;
}

.portfolio--layout .posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  min-height: 350px;
  list-style-type: none;
}

.portfolio--layout .posts__link {
  position: relative;
  display: block;
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 15px #0000003b;
          box-shadow: 0px 5px 15px #0000003b;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  overflow: hidden;
}

.portfolio--layout .posts__link:hover > .posts__image,
.portfolio--layout .posts__link:focus > .posts__image {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.portfolio--layout .posts__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

@media screen and (max-width: 850px) {
  .portfolio--layout .toggles {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio--layout .toggles__button {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

@media screen and (max-width: 540px) {
  .portfolio--layout .portfolio__headline {
    font-size: 10vmin;
  }
}

@media screen and (max-width: 440px) {
  .portfolio--layout .toggles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.team--layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 110px;
  padding-bottom: 110px;
}

.team--layout .team__text {
  max-width: 520px;
  width: 100%;
}

.team--layout .team__text::after {
  left: 0;
}

.team-members-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.team-members-layout .team-images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 350px;
  margin-right: 25px;
}

.team-images__member {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-members-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.members {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding: 0 10px;
  margin: 0;
  width: 100%;
  max-width: 880px;
  min-height: 200px;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.members__item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: none;
  margin: 0;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

.members__headline {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #312f30;
}

.members__description {
  font-size: 16px;
  line-height: 28px;
  color: #737373;
}

.members-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style-type: none;
}

.members-socials__item {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  margin: 5px;
}

.members-socials__link {
  font-style: italic;
  text-decoration: none;
  font-weight: 300;
  color: #312f30;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.members-socials__link:hover, .members-socials__link:focus {
  color: #ff3f40;
}

.team-members-toggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.team-members-toggles .team-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px 10px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.team-members-toggles .team-member:focus {
  -webkit-box-shadow: 0 1px 5px #ff3f40;
          box-shadow: 0 1px 5px #ff3f40;
}

.team-members-toggles .team-member:hover .team-member__name,
.team-members-toggles .team-member:focus .team-member__name {
  -webkit-animation: membersName .5s ease forwards;
          animation: membersName .5s ease forwards;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.team-members-toggles .team-member:hover .team-member__image,
.team-members-toggles .team-member:focus .team-member__image {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.team-members-toggles .team-member__image {
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.team-members-toggles .team-member__name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  background-color: #252525dc;
  color: #fff;
  text-align: center;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

.team-members--active {
  position: relative;
  display: block;
  z-index: 10;
}

@media (min-width: 1004px) and (max-width: 1290px) {
  .team-members-layout .team-images {
    width: 650px;
  }
  .team-members-toggles {
    max-width: 700px;
  }
  .team-members-toggles .team-member {
    margin-top: 50px;
    -ms-flex-preferred-size: calc( (100% / 2) - 70px);
        flex-basis: calc( (100% / 2) - 70px);
  }
}

@media screen and (max-width: 1003px) {
  .team-members-layout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team-members-layout .team-images {
    margin-bottom: 50px;
    margin-right: 0;
    width: 400px;
    height: 500px;
  }
  .team-members-toggles {
    max-width: 100%;
  }
  .team-members-toggles .team-member {
    margin-top: 20px;
  }
}

@media screen and (max-width: 910px) {
  .team-members-layout .team-images {
    display: none;
  }
  .members {
    margin: 0 auto;
    max-width: 650px;
  }
  .team-members-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .team-members-toggles {
    margin-top: 0;
    margin-bottom: 50px;
  }
  .team-members-toggles .team-member {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .team-members-toggles .team-member__image {
    height: 220px;
  }
}

@media screen and (max-width: 500px) {
  .team-members-layout {
    margin-top: 50px;
  }
  .team-members-toggles {
    margin-bottom: 30px;
  }
  .team-members-toggles .team-member {
    margin: 20px 5px 0;
    width: calc((100vw / 2 ) - 30px);
  }
  .team-members-toggles .team-member__image {
    height: 100%;
    width: 100%;
    max-width: 200px;
  }
  .members {
    padding: 0;
  }
  .members__headline {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .members__description {
    font-size: 14px;
  }
  .members-socials__link {
    font-size: 14px;
  }
}

@-webkit-keyframes membersName {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes membersName {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media screen and (max-width: 1200px) {
  .team--layout .team__headline {
    text-align: center;
  }
  .team--layout .team__text {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .team--layout .team__text::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (max-width: 540px) {
  .team--layout .team__headline {
    font-size: 10vmin;
  }
}

.subscribe--layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 140px 15px;
  background: url("../images/subscribe-bg.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
}

.subscribe--layout .subscribe__headline {
  margin: 20px 0 42px;
  font-size: 42px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0 1px 5px #0000005e;
}

.subscribe--layout .subscribe__headline .subscribe__subheading {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: #ffffffd2;
}

.subscribe--layout .subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 850px;
  width: 100%;
}

.subscribe--layout .subscribe-form__item {
  position: relative;
  -ms-flex-preferred-size: 520px;
      flex-basis: 520px;
  margin: 0 20px 0 0;
  max-width: 520px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe--layout .subscribe-form__email {
  padding: 20px 15px;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #737373;
  border-radius: 5px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe--layout .subscribe-form__email:hover, .subscribe--layout .subscribe-form__email:focus {
  background-color: #f8f5f5;
  outline: none;
}

.subscribe--layout .subscribe-form__email:focus {
  -webkit-box-shadow: 0 0 4px 3px #ff3f40;
          box-shadow: 0 0 4px 3px #ff3f40;
}

.subscribe--layout .subscribe-form__button {
  margin-bottom: 20px;
}

@media screen and (max-width: 540px) {
  .team-layout {
    padding-bottom: 50px;
  }
  .subscribe--layout {
    padding: 70px 15px;
  }
  .subscribe--layout .subscribe__headline {
    font-size: 9vmin;
  }
  .subscribe--layout .subscribe-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .subscribe--layout .subscribe-form__item {
    margin: 0;
  }
  .subscribe--layout .subscribe-form__button {
    width: 100%;
  }
}

.contacts {
  padding-top: 110px;
  padding-bottom: 110px;
  height: 100%;
}

.contacts__text {
  max-width: 740px;
  width: 100%;
  margin-bottom: 70px;
}

.contacts__text::after {
  left: 0;
}

.contacts__content-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  min-height: 463px;
  height: 400px;
}

.contacts-form {
  max-width: 740px;
  width: 100%;
}

.contacts-form__item {
  margin: 0;
}

.contacts-form__item--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.contacts-form__input {
  padding: 25px 50px;
  -ms-flex-preferred-size: calc((50% / 2) - 5px);
      flex-basis: calc((50% / 2) - 5px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  outline: none;
}

.contacts-form__input:hover {
  background-color: #dddddd;
}

.contacts-form__input:focus {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

.contacts-form__name {
  margin-right: 40px;
}

.contacts-form__user-message {
  margin: 45px 0;
  width: 100%;
  padding: 30px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  outline: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.contacts-form__user-message:hover {
  background-color: #dddddd;
}

.contacts-form__user-message:focus {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

.contacts-form__button {
  width: 100%;
}

.contacts-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 20px 15px 20px 70px;
  background-color: #312f30;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contacts-info__headline {
  position: relative;
  z-index: 2;
  margin-top: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.contacts-info__list {
  position: relative;
  z-index: 2;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  list-style-type: none;
}

.contacts-info__item {
  margin: 20px 0;
}

.contacts-info__item:last-child {
  margin-bottom: 0;
}

.contacts-info__link {
  text-decoration: none;
}

.contacts-info__link:hover, .contacts-info__link:focus {
  color: #ff3f40;
}

.contacts-info::after {
  z-index: 1;
  position: absolute;
  left: 0%;
  content: '';
  height: 100%;
  width: 100vw;
  background-color: #312f30;
}

@media screen and (max-width: 1200px) {
  .contacts__headline {
    text-align: center;
  }
  .contacts__text {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .contacts__text::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .contacts__content-layout {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
  }
  .contacts-info, .contacts-form {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-right: auto;
    margin-left: auto;
  }
  .contacts-info {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 70px;
    max-width: 740px;
    width: 100%;
    border-radius: 5px;
  }
  .contacts-info::after {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .contacts__headline {
    font-size: 10vmin;
  }
  .contacts-form__item--top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts-form__name {
    margin-right: 0px;
    margin-bottom: 45px;
  }
  .contacts-form__input, .contacts-form__user-message {
    padding: 25px;
  }
  .contacts-info {
    padding: 60px  25px;
  }
}

.footer--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 15px;
}

.footer--container .copyright {
  font-size: 16px;
  line-height: 26px;
}

.footer--container .copyright .fas {
  color: #ff3f40;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  padding: 0;
  list-style-type: none;
}

.social-links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.social-links__item .social-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e0e0e0;
  font-size: 20px;
  color: #312f30;
  text-decoration: none;
}

.social-links__item .social-links__link:hover, .social-links__item .social-links__link:focus {
  background-color: #ff3f40;
  color: #e0e0e0;
}

@media screen and (max-width: 540px) {
  .footer--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .social-links {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .social-links__item {
    margin: 0 5px;
  }
}
/*# sourceMappingURL=style.css.map */